

.slider {
  position: relative;
  z-index: 200;
    padding: 0 0px;
    margin: -40px auto;
    /*max-width: 800px;*/
    width: 100%;
    
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  border: none;
  background: transparent;
  color: black;
  font-family: monospace;
  font-size: 5rem;
  z-index: 300;
  outline: none;
}

.slick-prev {
  left: -50px;
  text-align: left;
}

.slick-next {
  right: -50px;
  text-align: right;
}



.item.slick-slide {
  width: 600px;
  height: 400px !important;
  transition: transform .4s;
  position: relative; 
}

.slick-slide:after {
  content:'';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.9);
  transition: transform .4s;
  ;
}

.item.slick-slide {
  transform: scale(0.8)  translate(225px);
}

.item.slick-slide.slick-center + .slick-slide {
  transform: scale(0.8) translate(-75px);
  z-index: 10;
}

.item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
  transform: scale(0.8)  translate(-225px);
  z-index: 5;
}

.item.slick-slide.slick-active {
  transform: scale(0.8) translate(75px);
}

.item.slick-slide.slick-center {
  /* margin: 0 -10%; */
  transform: scale(1);
  z-index: 30;
}

.slick-center:after {
  opacity: 0;
}
.draggable{
    padding-left:  315px!important;
    padding-right: 0!important;
}
@media (max-width: 1024px){
    .draggable{
    padding-left:  100px!important;
    padding-right: 0!important;
}
}
@media (max-width: 767px){
    .draggable{
    padding-left:  50px!important;
    padding-right: 0!important;
}
    .slider{
        margin: 0 auto;
        box-shadow: 0 0 120px 3px #000 inset;
    }
    .item.slick-slide {
    width: 500px;
        
    }
    .d1rd1{
        -ms-flex-order: 1;
        order: 1;
    }
    .d1rd2{
        -ms-flex-order: 0;
        order: 0
    }
}
@media (max-width: 588px){
    .draggable{
    padding-left:  25px!important;
    padding-right: 0!important;
}
    .item.slick-slide {
    width: 400px;
        
    }
}
.logo-img{
    background: url("../img/logo.png");
        width: 5rem;
    height: 5rem;
    background-size: cover;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 10rem;
	opacity: 0;
}
.carousel-text>h6{
    font-family: 'montserrat.bold.ttf';
    color: white;
    margin-left: 2rem;
    text-transform: uppercase;
	opacity: 0;
}
.carousel-text>p{
    font-family: 'montserrat.regular.ttf';
    color: white;
    margin-left: 2rem;
    font-size: 15px;
    width: 80%;
	opacity: 0;
}

.d1rd1{
    padding: 0;
	margin-top: 6rem;
        margin-bottom: 10rem;
}
.d1rd2{
    padding: 0;
}
.d1rd1>h4{
    display: flex;
    margin-left: 5rem;
    font-family: 'montserrat.bold.ttf';
}
.about-span{
    position: absolute;
    top: 3rem;
    left: 5rem;
}
.about-span>p{
    font-family: 'montserrat.regular.ttf';
        width: 70%;
    font-size: 17px;
    font-weight: 600;
}
.about-span>p>span{
    color: #ea464e;
    
}
.div2{
    padding-left: 0;
    padding-right: 0;
    background: #1d1d1d;
}
.d2r{
    
}
.why{
    float: right;
        left: 10%;
    position: absolute;
    height: 55%;
    top: 43%;
}

.why2{
    margin-bottom: 2rem;
    width: 90%;
    display: none;
}


.d2rd2d{
    margin: 0 auto;
        margin-top: 6rem;
}
.d2rd2dd1{
    background: black;
        padding: 1rem 2rem;
}
.d2rd2dd2-r{
    background: #141414;
    border-bottom: 5px solid #e02d4e;
    padding: 2rem 2rem;
}
.d2rd2dd2-r>h6{
    font-family: 'montserrat.bold.ttf';
    color: white;
}
.d2rd2dd2-r>h3{
    font-family: 'montserrat.bold.ttf';
    color: white;
}
.d2rd2dd2-r>p{
        font-family: 'Gilroy-Medium.ttf';
    color: white;
}
.d2rd2dd2-b{
    background: #141414;
    border-bottom: 5px solid #2d7de0;
    padding: 2rem 2rem;
}
.d2rd2dd2-b>h6{
    font-family: 'montserrat.bold.ttf';
    color: white;
}
.d2rd2dd2-b>h3{
    font-family: 'montserrat.bold.ttf';
    color: white;
}
.d2rd2dd2-b>p{
        font-family: 'Gilroy-Medium.ttf';
    color: white;
}
.lst{
    margin-bottom: 5rem;
}


@media (max-width: 1199px){

    .why{
        top: 21%;
            left: 4%;
    }
    
}
@media (max-width: 767px){
    .why{
        display: none;
    }
    .why2{
        display: block;
    }
   
    
}



















