/* CSS Document */
.footer{
    background: #0f0f18;
    
}

.copyright{
    color: white;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
}



@media (max-width: 767px){
    .copyright{
        margin: 0 auto;
        
    }
    
}