@font-face{
	src: url("../fonts/Gilroy-Bold.ttf");
	font-family: 'Gilroy-Bold.ttf';

}
@font-face{
	src: url("../fonts/Gilroy-Heavy.ttf");
	font-family: 'Gilroy-Heavy.ttf';

}
@font-face{
	src: url("../fonts/Gilroy-Light.ttf");
	font-family: 'Gilroy-Light.ttf';

}
@font-face{
	src: url("../fonts/Gilroy-Medium.ttf");
	font-family: 'Gilroy-Medium.ttf';

}

@font-face{
	src: url("../fonts/Poppins-Bold.ttf");
	font-family: 'Poppins-Bold.ttf';

}
@font-face{
	src: url("../fonts/Poppins-Light.ttf");
	font-family: 'Poppins-Light.ttf';

}
@font-face{
	src: url("../fonts/Poppins-Medium.ttf");
	font-family: 'Poppins-Medium.ttf';

}
@font-face{
	src: url("../fonts/Poppins-Regular.ttf");
	font-family: 'Poppins-Regular.ttf';

}
@font-face{
	src: url("../fonts/Poppins-SemiBold.ttf");
	font-family: 'Poppins-SemiBold.ttf';

}
@font-face{
	src: url("../fonts/Bauhaus93.ttf");
	font-family: 'Bauhaus93.ttf';

}
@font-face{
	src: url("../fonts/BebasNeue-Regular.ttf");
	font-family: 'BebasNeue-Regular.ttf';

}
@font-face{
	src: url("../fonts/BebasNeue-Bold.ttf");
	font-family: 'BebasNeue-Bold.ttf';

}
@font-face{
	src: url("../fonts/montserrat.regular.ttf");
	font-family: 'montserrat.regular.ttf';

}
@font-face{
	src: url("../fonts/montserrat.bold.ttf");
	font-family: 'montserrat.bold.ttf';

}
@font-face{
	src: url("../fonts/Montserrat-Light.otf");
	font-family: 'Montserrat-Light.otf';

}
@font-face{
	src: url("../fonts/Montserrat-SemiBold.otf");
	font-family: 'Montserrat-SemiBold.otf';

}

#wrapper{

	height: auto;
	background-size: contain;
	padding: 0;
    overflow: hidden;

}

.navbar{
    position: fixed;
    z-index: 999;
    width: 100%;
}
.navbar-light{
  transition:500ms ease;
  background:transparent;
}
.navbar-light.scrolled{
  background:#000;
}
.navbar-light.scrolled-t{
  background:#000;
}
.navbar-nav{
    margin-left: 5rem;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-toggler {
    color: white !important;
    border-color: white !important;
}
button:focus{
    outline: none;
}

.nav-link{
   display: inline-block;
  position: relative;
    text-decoration: none;
    padding-bottom: 15px;
  margin: 0px 20px;
    font-family: 'montserrat.bold.ttf';
    color: white !important;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  left: 18%;
  position: absolute;
  background-color: #ea464e;
}
.active1::before {
  transition: 300ms;
  height: 5px;
  content: "";
  left: 18%;
  position: absolute;
  background-color: #ea464e;
  width: 60% !important;
  bottom: 10px;
  opacity: 1 !important;
}
.nav-link-ltr::before {
  width: 0%;
  bottom: 6px;
}

.nav-link-ltr:hover::before {
  width: 60%;
}

.s-icon1{
    margin-right: 0.5rem;
}
.s-icon2{
      margin-left: 0.5rem;
    margin-right: 1rem;
}
.s-icon2>i{
    font-size: 22px;
    color: white;
}
.s-icon2>i:hover{
    color: #DD0A2E;
}

.d-icon{
    width: 30px;
    height: 23px;
        background: url("../img/discord.png") no-repeat;
}
.s-icon1:hover >.d-icon{
    background: url("../img/hvr-discord.png") no-repeat;
}

.hd-btn1{
    background: #DD0A2E!important;
    border: none;
    border-radius: 23px;
    font-size: 13px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 1rem;
    font-family: 'montserrat.regular.ttf';
    box-shadow: 5px 5px 27px -11px black;

}
.hd-btn1:hover{
    background: #DD0A2E!important;
    border: none!important;
}
.hd-btn1:active{
    background: #DD0A2E!important;
    border: none!important;
}
.hd-btn1:focus{
    box-shadow: none!important;
    border: none;
}


@media (max-width: 840px){
    .navbar-nav{
    margin-left: 1rem;
}
}
@media (max-width: 767px){
    .nav{
    margin-left: 0 !important;

}
    .form-inline{
        margin-left: 20px;
    }
}
.navbar-light.hd-clr{
    background: #161622;
}